NODE_ENV=development
APP_PORT=3000

POSTGRES_USER=logistica_user
POSTGRES_PASSWORD=logistica_pass
POSTGRES_DB=logistica_db
POSTGRES_PORT=5432


DATABASE_URL=postgresql://logistica_user:logistica_pass@localhost:5432/logistica_db

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=cambia_este_secreto_en_produccion
JWT_EXPIRES_IN=7d
