node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml


/dist
/build
*.tsbuildinfo


logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*


.env
.env.local
.env.development.local
.env.test.local
.env.production.local


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


/coverage
/.nyc_output
.jest-cache


prisma/.env

.temp/
.tmp/
*.tmp
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
